.label-font {
  font-family: 'Poppins';
  /* font-size: 18px; */
  /* color: black; */
}
.indent-font {
  font-family: 'Poppins';
  text-indent: 40px;
  /* font-size: 18px; */
  /* color: black; */
}
