<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEJA Tuition Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="label-font">NEJA Tuition Calculator</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            <thead>
                <tr>
                    <th class="label-font">Grade</th>
                    <th class="label-font">Number of Students</th>
                </tr>
            </thead>
            <tbody>
                <label class="label-font">Family AGI (Previous Year):</label>
                    {{form.AGI()}}
                <label class="label-font">Use Subsidy Rates? </label>
                    {{form.subsidy()}}
                <tr>
                    <td>
                        <label class="label-font">ECC: 5 Full Days</label>
                        </td>
                    <td>
                      {{form.ECC5F()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">ECC: 3 Full Days</label>
                        </td>
                    <td>
                      {{form.ECC3F()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">ECC: 5 Half Days</label>
                        </td>
                    <td>
                      {{form.ECC5H()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">ECC: 3 Half Days</label>
                        </td>
                    <td>
                            {{form.ECC3H()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">ECC Extra Care</label>
                        </td>
                    <td>
                            {{form.ECCPP()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">Kindergarden</label>
                        </td>
                    <td>
                            {{form.K()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">1st Grade</label>
                        </td>
                    <td>
                            {{form.G1()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">Grades 2-5</label>
                        </td>
                    <td>
                            {{form.G25()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">Grade 6</label>
                        </td>
                    <td>
                            {{form.G6()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">Grade 7-8</label>
                        </td>
                    <td>
                            {{form.G78()}}
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="label-font">Grade 9-12</label>
                        </td>
                    <td>
                            {{form.G912()}}
                    </td>
                </tr>
            </tbody>
        </table>
            {{form.submit()}}
            <label class="label-font">Show Details?</label>
            {{form.debug()}}
    </form>

    {% if debug %}
        <h2 class="label-font">Your Results</h2>
        {% for line in debug_data %}
            <h3 class="label-font">{{line}}</h3>
        {% endfor %}
    {% elif output_data %}
        <h2 class="label-font">Your Results</h2>
        {% for line in output_data %}
            <h3 class="label-font">{{line}}</h3>
        {% endfor %}
    {% endif %}
</body>
</html>
